.forumContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 75%;
}

.accordionHead{
    z-index: 1;
}

.accordionBody{
    z-index: 5;
}